* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(21, 82, 82);
    background-size: cover;
    background-position: center;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    color: whitesmoke;
}

#nav h2 {
    font-size: 25px;
}

#nav i {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
}

#full {
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(206, 206, 192, 0.263);
    top: 0;
    right: -40%;
    backdrop-filter: blur(15px);
    padding: 150px 60px;
}

#full h4 {
    color: whitesmoke;
    font-size: 50px;
    font-weight: 500px;
    margin-bottom: 10px;
}

#full i {
    position: absolute;
    top: 4%;
    right: 7%;
    background-color: rgba(245, 245, 245, 0.849);
    border-radius: 50%;
    padding: 4px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}